name: Bake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
    -
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - 
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
      id: changed-files
      with:
        dir_names: true
        dir_names_exclude_current_dir: true
        dir_names_max_depth: '1'
        files_ignore: .*/**
        matrix: true
  bake:
    runs-on: ubuntu-latest
    needs: changed-files
    if: ${{ needs.changed-files.outputs.any_changed == 'true' }}
    strategy:
      matrix:
        image: ${{ fromJson(needs.changed-files.outputs.matrix) }}
    steps:
    -
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
    -
      name: Login to GitHub Container Registry
      if: github.event_name != 'pull_request' && github.actor != 'nektos/act'
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}
    -
      name: Build and push
      uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6
      with:
        source: .
        workdir: ${{ matrix.image }}
        push: ${{ github.event_name != 'pull_request' && github.actor != 'nektos/act' }}
        provenance: false
